


<mat-toolbar color="primary">

    <span>Student-Portal</span>
    <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]="appMenu"><mat-icon>menu</mat-icon> Menu</button>
    
</mat-toolbar>

<mat-menu #appMenu="matMenu">
  
  <span class="alignright"></span>
  <button mat-menu-item>
    <mat-icon>assessment</mat-icon>
    <span>Attendance</span>
  </button>
  <button mat-menu-item>
    <mat-icon>class</mat-icon>
    <span>Extra-Curricular Activities</span>
  </button>
</mat-menu>
<div class="logo"></div>


<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Enter Details"><form  [formGroup] = "angForm" (ngSubmit)="onFormSubmit(angForm)" class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Name*</mat-label>
      <mat-label  *ngIf="name.invalid" [ngClass] = "'error'"> </mat-label>
     
      <input matInput placeholder="Eg:Muskan Setia" formControlName="name">
    </mat-form-field>
  
    
   
      <mat-form-field class="example-full-width">
        <mat-label>Roll Number*</mat-label>
        <mat-label  *ngIf="name.invalid" [ngClass] = "'error'"></mat-label>
        <input matInput placeholder="Ex. R110217XXX" formControlName="rollno">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Sap ID*</mat-label>
        <mat-label  *ngIf="name.invalid" [ngClass] = "'error'"> </mat-label>
        <input matInput placeholder="Ex. 5000XXXXX" formControlName="sapid">
      </mat-form-field>
      
    
  
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>Total Classes*</mat-label>
        <mat-label  *ngIf="name.invalid" [ngClass] = "'error'"></mat-label>
        <input matInput placeholder="Ex. 24" formControlName="totalclasses" >
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label> Total days Present*</mat-label>
        <mat-label  *ngIf="name.invalid" [ngClass] = "'error'"> </mat-label>
        <input matInput #TotaldaysPresent placeholder="Ex. 18" formControlName="dayspresent" >
      <mat-hint align ="end"></mat-hint>
      </mat-form-field></td>
    </tr></table>
  </form>
  <div class="example-label"></div>
  
   
    <button mat-stroked-button color="primary">Submit</button>
</mat-tab>

</mat-tab-group>




